* {
  box-sizing: border-box;
  }
.chat-side{
  width: 300px;
  color: white;
  float: left;
    .side-header{
      background-color: #253141;
      height: 100px;
      display: flex;
      align-items: center;
      padding: 0 20px;
      &__box {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-weight: bold;
        text-decoration: none;
        &__user-name {
          margin: 0;
          padding: 0;
        }
        &__menu {
          display: flex;
          li {       
            a {
            color: white;
            }
          }
        }
      }
    }
    .groups {
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      padding: 20px 20px 0;
      overflow: scroll;
      .group__group-name {
        color: white;
        text-decoration: none;
      }
      .group__latest-message{
        font-size: 11px;
        color: white;
        margin-bottom: 40px;
      }
    }   
}

.link {
  text-decoration: none;
}

.chat-main {
    width: calc(100vw - 300px);
    float: left;
}
  .main-header{
      height: 100px;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px #eee;
      overflow: scroll;
      &__left-box {
        margin-top: 35px;
        &__current-group {
          font-size: 20px;
          color: #333;
          margin-bottom: 15px;
          }
        &__member-list {
          display: flex;
          font-size: 12px;
          color: #999999;
          &__member {
            margin: 0;
            padding: 0; 
          }
        }
      }
      &__edit-btn {
        height: 40px;
        color:#38aef0;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 30px;
        border: solid 1px #38aef0;
        position: absolute;
        right: 40px;
      } 
    }
  .messages{
      height: calc(100vh - 190px);
      padding: 46px 40px;
      background-color: #fafafa;
      overflow: scroll;
    }
    .message {
      padding-bottom: 40px;
      .upper-message {
        display: flex;
        margin-bottom: 10px;
        color: black;
        .upper-message__user-name {
          color: #434a54;
          font-size: 16px;
          font-weight: bold;
        }  
        .upper-message__date {  
          color: #999999;
          font-size: 12px;
          margin-left: 10px;        
        }

      }
      .lower-message {
        color: #434a54;
        font-size: 14px;
        margin-bottom: 10px;
        .lower-message__content{
          border: 0;
        }
      }
    }

  .form {
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;

    .new_message {
      display: flex;

        .form__mask {
          height: 50px;
          width: 100%;
          color: #434a54;
          border-style: none;
          display: flex;
          position: relative;

          .form__message {
            width: 100%;
          }

          .image-label {
            font-size: 1.3rem;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;

            .hidden {
              display: none;
            }
          }
        }
        .form__submit {
          width: 100px;
          height: 50px;
          padding: 12px 30px;
          margin-left: 15px;
          background-color: #38aef0;
          color: white;
          cursor: pointer;
        }
      }

    }
